@* @model Product

<div class="col-sm-12 col-md-4  my-2 ">
    <div class="card" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <a asp-action="Get" # asp-route-id="@Model.ProductID" class="btn btn-primary">Details
                <i class="fa-solid fa-circle-info"></i> </a>
        </div>
    </div>
</div>       *@
@model Product

<div class="col-sm-12 col-md-4 my-2">
    <div class="card h-100" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" style="height: 200px; object-fit: contain;">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <a asp-action="Get" asp-route-id="@Model.ProductID" class="btn btn-primary">Details
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </div>
    </div>
</div>