@using System.Net.Http
@using Microsoft.AspNetCore.Http
@* @model Product

<div class="col-sm-12 col-md-4  my-2 ">
    <div class="card" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <a asp-action="Get" # asp-route-id="@Model.ProductID" class="btn btn-primary">Details
                <i class="fa-solid fa-circle-info"></i> </a>
        </div>
    </div>
</div>       *@
@model Product
<div class="col-sm-12 col-md-4 my-2">
    <div class="card h-100" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" style="height: 200px; object-fit: contain;">
        <div class="card-body">
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">@Model.Price</p>
            <div class="btn btn-group">
                    <a asp-action="Get" asp-route-id="@Model.ProductID" class="btn btn-primary">Details
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                <form id="@Model.ProductID" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="ProductID"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fa fa-cart-plus" 18rem></i>Add to Cart
                    </button>
                    </form>
            </div>
        </div>
    </div>
</div>